---
layout: default.html
---

{% for post in site.posts %}
  {% if post.tags contains page.tag %}
  <article>
    <header>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <p>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date_to_long_string: "ordinal" }}
      </time>
    </p>
    <p>{{ post.excerpt | strip_html }}</p>
  </article>
  {% endif %}
{% endfor %}

<aside>
  <h2>All tags</h2>
  <p>
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag | first | slugify }}/">#{{ tag[0] | replace: '-', ' ' }} ({{ tag | last | size }})</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </p>
</aside>
