<address>
  <p>
      E-mail:
      <a href="mailto:mairacanal@riseup.net">mairacanal@riseup.net</a>
    <br />
    <span class="pgp">PGP:
      <a href="/pgp.asc">
        <span>D902 5017 00AF C8B3 A4F6 7C20</span> B02E E8FD 7678 1ED5
      </a>
    </span>
  </p>

  <p>
    Social:
    <a href="https://github.com/mairacanal" class="github">GitHub</a>;
    <a href="https://gitlab.freedesktop.org/mairacanal" class="gitlab">GitLab</a>;
    <a href="https://linkedin.com/in/mairacanal" class="linkedin">LinkedIn</a>;
    <a href="https://matrix.to/#/@mairacanal:matrix.org" class="matrix">Matrix</a>;
  </p>

  <p class="copyleft">Copyleft <a href="https://m7.rs/">Gabriel Fontes</a> (<a href="https://github.com/Misterio77/website">Source Code</a>)</p>
</address>

<p class="print-site-link"><small>Also available at <a href="https://{{ site.domain }}{{ page.url }}">my website</a>.</small></p>
